<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
        <add key="eVision Release" value="https://www.myget.org/F/evision-common/auth/711e922f-4b5e-40c5-99d4-2fde00b89557/" />
    </packageSources>
</configuration>