*
{
	margin:0;
	padding:0;
}

body
{
	font-size: 14px;
	color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

.header
{
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

.header_search_form
{
	width:620px;
	margin: 0 auto 0;
}

#search_form
{
	padding: 10px 0 50px 0;
	position:relative;
}

fieldset
{
	border:none;
}

#query
{
	border:none;
	color:#333;
    background-color: #fafafa;
	outline:medium none;
	padding:  0px 16px 4px 16px;
	width:600px;
    border-color: #333;
    height: 50px;
    font-size: 18px;
    font-weight: normal;
    font-family: Segoe UI;
    margin: 45px 0 0;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    width: 860px;
    background-color: #fff;
}

.result_panel 
{
    color: #333;
    padding: 15px 10px;
    margin-top: 40px;
}

.footer {
    position: absolute;
    top: 93%;
    right: 0;
}